<?xml version="1.0"?>
<configuration>
    <appSettings>
      <!-- OpenExchangeRates -->            
        <add key="OER_API_Key" value="YOURAPIKEY"/>
        <add key="OER_Password" value="YOURPASSWORD"/>
        <add key="OER_UserName" value="YOURUSERNAME"/>
        <!-- Emailer- SMTP Server Settings-->
        <add key="SMTPServer" value="YOURSMTPSERVERNAME"/>
        <add key="SMTPPort" value="YOURSMTPPORT (Usually 25 or 587 or 2525"/>
        <add key="SMTPUser" value="YOURSMTPUSERNAME"/>
        <add key="SMTPPassword" value="YOURSMTPPASSWORD"/>
        <add key="EmailFrom" value="email@sample.com"/>
        <add key="EmailTo" value="email@sample.com"/>
    </appSettings>

    <connectionStrings>
        <add name="ConnString" connectionString="server=YOUR_SQL_SERVER_IPADDRESS;uid=YOUR_SQL_USERNAME;pwd=YOUR_SQL_PASSWORD;database=YOUR_SQL_DATABASE_NAME" />
    </connectionStrings>

    <system.diagnostics>
        <sources>
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Application Event Log -->
                    <add name="EventLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="CRM_BI_DataBridge"/>
        </sharedListeners>
    </system.diagnostics>

    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

</configuration>
